@media screen and (max-width: 990px) {
	#desktopNav {
		display: none;
	}
}

.topPart {
	background-color: white;
	display: flex;
}

.topPart img {
	position: relative;
	right: -15em;
	height: 6em;
	z-index: 3;
}

.botPart {
	background-color: #387fb3;
	display: flex;
}

.infoCont {
	display: flex;
	margin-left: 18em;
	margin-top: 1em;
	height: 50%;
}

.infoCont div {
	margin-left: 2em;
}

.btnDiv {
	margin-top: 1.4em;
}
.btnDiv button {
	background-color: #ed2025;
	color: white;
	border: none;
	font-weight: 600;
	border-radius: 5px;
}

.white {
	background-color: white;
	position: relative;
	transform: rotate(180deg);
	color: transparent;
}

.white::before {
	content: "";
	position: absolute;
	top: -1.02em;
	left: -2.4em;

	border-top: 40px solid transparent;
	border-right: 40px solid white;
}

.blue {
	background-color: #387fb3;
	margin-top: 0.95em;
}

.navbar {
	color: #fff;
}

.nav-menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.nav-menu a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.nav-item {
	margin-right: 10px;
}

.dropdown-menu li a {
	color: #000; /* Establece el color del texto del menú desplegable como negro */
}

.dropdown-toggle {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 10px;
	width: 300px;
}

.dropdown-menu.visible {
	display: block;
}

.dropdown-menu li {
	margin-bottom: 5px;
}
