body {
	overflow-x: hidden;
}

@media screen and (max-width: 990px) {
	#desktopNav {
		display: none;
	}
}

.topPart {
	background-color: white;
	display: flex;
}

.topPart img {
	position: relative;
	right: -10%;
	height: 6em;
	z-index: 3;
}

.botPart {
	background-color: #387fb3;
	display: flex;
}

.infoCont {
	display: flex;
	margin-left: 12%;
	margin-top: 1em;
	height: 50%;
}

.infoCont div {
	margin-left: 2em;
}

.infoCont p {
	font-size: 0.9rem;
}

.infoCont b {
	font-size: 0.9rem;
}

.btnDiv {
	margin-top: 1.4em;
}
.btnDiv button {
	background-color: #ed2025;
	color: white;
	border: none;
	font-weight: 600;
	border-radius: 5px;
}

.white {
	background-color: white;
	position: relative;
	transform: rotate(180deg);
	color: transparent;
}

.white::before {
	content: "";
	position: absolute;
	top: -1.02em;
	left: -2.4em;

	border-top: 40px solid transparent;
	border-right: 40px solid white;
}

.blue {
	background-color: #387fb3;
	margin-top: 0.95em;
}

.navbar {
	color: #fff;
}

.nav-menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.nav-menu a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.nav-item {
	margin-right: 10px;
}

.dropdown-menu li a {
	color: #000; /* Establece el color del texto del menú desplegable como negro */
}

.dropdown-toggle {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 10px;
	width: 300px;
}

.dropdown-menu.visible {
	display: block;
}

.dropdown-menu li {
	margin-bottom: 5px;
}

.carrusel {
	position: relative;
	top: -1em;
}

.btnRed {
	background: #ed2025;
	color: white;
	border-radius: 5px;
	border: none;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.blueFont {
	font-weight: 700;
	color: #1870af;
	font-size: 2.3rem;
}
.text {
	font-size: 1.2rem;
}

.serviceImg {
	width: 6em;
}

.layOut {
	display: flex;
	align-items: center;
	justify-content: center;
}
.whiteBox {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.clientesRes {
	display: none;
}
.clientesDes {
	display: block;
}

.presupuestoCont {
	background: #1870af;
	color: white;
}

.footerGlobal {
	background: #1870af;
	height: 100%;
	color: white;
}
.selectStyle {
	border-radius: 10px;
	border: none;
}

.boxCeleste {
	background-color: #6eaedd;
	color: black;
	border-radius: 10px;
}

.tune {
	position: relative;
	left: -4em;
}

.btnRed {
	background-color: #ed2025;
	color: white;
	border: none;
	font-weight: 600;
	border-radius: 5px;
}
